.NewMessage {
  display: grid;
  grid-gap: 20px;
}

.text {
  width: 100%;
}

.btn {
  background-color: var(--btn_color);
  color: var(--contrast_font_color);
  font-weight: 700;
  justify-self: end;
  padding: 5px 50px;
  border: none;
  border-radius: 10px;
}